{% extends 'hero_theme.html' %}



{% block content %}

<h1>Delete Hero</h1>



<br> {% if user.is_authenticated %}
<form action="" method="post">{% csrf_token %}
<p>Are you sure you want to delete "{{ hero.name }}"?</p>
<input type="submit" value="Confirm">
</form>
<p> Hi {{ user.username }}!</p>
<p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<br>
<a href="{% url 'signup' %}">Sign Up</a>{% endif %}
<br>

{% endblock content %}